{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Stock{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ticker">Stock Label</label>
    <input name="ticker" id="ticker" value="{{ request.form['ticker'] }}" required>

    <label for="tracking_price">Tracking Price</label>
    <input name="tracking_price" id="tracking_price" value="{{ request.form['tracking_price'] }}" required>
    
    <label for="num_shares">Number of Share</label>
    <input name="num_shares" id="num_shares" value="{{ request.form['num_shares'] }}" required>

    <input type="submit" value="Save">
  </form>
{% endblock %}
