{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stock Tracker{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>Ticker Name: {{ post['ticker'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <!--<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>-->
          <form action="{{ url_for('blog.delete', id=post['id']) }}" method="POST">
            <button type="submit" class="action">Delete</button>
          </form>

        {% endif %}
      </header>
      <p class="body">Time Added: {{ post['created'].strftime('%Y-%m-%d %H:%M') }}</p>
      <p class="body">Tracking Price: {{ post['tracking_price'] }}</p>
      <p class="body">Number of Shares: {{ post['num_shares'] }}</p>
      <p class="body">Current Price: {{ post['curr_price'] }}</p>
      <p class="body">Current Yield/Loss: {{ post['curr_pct'] }}</p>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
