{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['ticker'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ticker">Stock Label</label>
    <input name="ticker" id="ticker" value="{{ request.form['ticker'] or post['ticker'] }}" required>

    <label for="tracking_price">Tracking Price</label>
    <input name="tracking_price" id="tracking_price" value="{{ request.form['tracking_price'] or post['tracking_price'] }}" required>

    <label for="num_shares">Number of Shares</label>
    <input name="num_shares" id="num_shares" value="{{ request.form['num_shares'] or post['num_shares'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
