{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}"{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <label for="title">Title</label>
    <p>"{{ request.form['title'] or post['title'] }}"</p>
    <label for="body">Body</label>
    <p>"{{ request.form['body'] or post['body'] }}"</p>

    <hr>
    <p><a href="{{ url_for('blog.index') }}">Back to Home</a></p>

{% endblock %}