<link rel="stylesheet" href="style.css">
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="#" method = 'post'>
        <p>Stock Symbol:</p>
        <p><input type = 'text' name = 'nm'/></p>
        <p><input type = 'submit' value = 'Submit'</p>
    
    </form>
    <title>{{symbol['Symbol']}} Info</title>
    {% if not symbol %}
      <p>No company overview data available for this stock.</p>
    {% else %}
      <p>Stock: {{ symbol['Symbol'] }}</p>
      <p>Company Name: {{ symbol['Name'] }}</p>
      <p>Sector: {{ symbol['Sector'] }}</p>
      <p>Market Capitalization: {{ symbol['MarketCapitalization'] }}</p>
      <p>Price to Earnings Ratio: {{ symbol['PERatio'] }}</p>
      <p>Earnings per Share: {{ symbol['EPS'] }}</p>
      <p>Dividend: {{ symbol['DividendPerShare']}}</p>
      <p>Dividend Yield: {{ symbol['DividendYield'] }}</p>
      <p>Stock Exchange: {{ symbol['Exchange'] }}</p>
    {% endif %}
    
    {% if not price %}
      <p>No price data available for this stock.</p>
    {% else %}
      <p>Price: {{ price['Global Quote']['05. price'] }}</p>
      <p>Previous Close: {{ price['Global Quote']['08. previous close'] }}</p>
      <p>Open: {{ price['Global Quote']['02. open'] }}</p>
      <p>Volume: {{ price['Global Quote']['06. volume'] }}</p>
      <p>52 Week High: {{ symbol['52WeekHigh'] }}</p>
      <p>52 Week Low: {{ symbol['52WeekLow'] }}</p>
    {% endif %}

    {% if not news %}
      <p>No news data available for this stock.</p>
    {% else %}
      <h1>Relevant News</h1>
      <h3>News 1</h3>
      <h3><a href="{{news['feed'][0]['url']}}", target = "_blank">{{news['feed'][0]['title']}}</a></h3>
      <p>Summary: {{news['feed'][0]['summary']}}</p>
      <h3>News 2</h3>
      <h3><a href="{{news['feed'][1]['url']}}", target = "_blank">{{news['feed'][1]['title']}}</a></h3>
      <p>Summary: {{news['feed'][1]['summary']}}</p>
      <h3>News 3</h3>
      <h3><a href="{{news['feed'][2]['url']}}", target = "_blank">{{news['feed'][2]['title']}}</a></h3>
      <p>Summary: {{news['feed'][2]['summary']}}</p>
      <h3>News 4</h3>
      <h3><a href="{{news['feed'][3]['url']}}", target = "_blank">{{news['feed'][3]['title']}}</a></h3>
      <p>Summary: {{news['feed'][3]['summary']}}</p>
      <h3>News 5</h3>
      <h3><a href="{{news['feed'][4]['url']}}", target = "_blank">{{news['feed'][4]['title']}}</a></h3>
      <p>Summary: {{news['feed'][4]['summary']}}</p>
    {% endif %}
    

    <p>{{plot}}</p>



  </body>
</html>

